// This file is just for styling of the demo grid page. Nothing in here is required for the grid mixins to function.
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@include establish-baseline;

$base-font-size: 12px;
$base-line-height: 18px;
$round-to-nearest-half-line: true;
$default-rhythm-border-style: dashed;

// Color 
@mixin color($n:1) {
	$baseColor: #DAE9AC;
	$colorHue: adjust-hue($baseColor, $n);
	$color: darken($colorHue, ($n/5));
	background-color: $color;
}


body {
	background-color: #DDECE1;
	font-family: "Courier New", monospace;
	@include adjust-font-size-to(10px);
	color: #725F5F;
}

h1 {
	@include adjust-font-size-to(78px);
	@include margin-trailer(.5);
	@include margin-leader(.5);
	color: #725F5F;
}

h2 {
	@include adjust-font-size-to(32px);
	@include margin-trailer(.5);
	color: #725F5F;
	text-align: center;
	span {
		font-size: 12px;
	}
}

p, ul {
	@include adjust-font-size-to(14px);
	@include margin-trailer(1);

}

p {
	text-align: center;
	font-weight: bold;
	@include adjust-font-size-to(10px);
}

.nav  {
	@include adjust-font-size-to(16px);
}

.one {
	@include leader();
}

.two {
	// @include rhythm($leader: 2, $trailer: 2);
	@include margin-leader(1);
	@include margin-trailer(1);
	@include rhythm-borders(2px, 2);
	
}
.three {
	@include adjust-font-size-to(32px);
}
.four {
	@include trailer();
	@include trailing-border();
}

@mixin border-box {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

@mixin moon-block {
	background-color: #000;
	margin-bottom: $gutterWidth;
	padding: 10px;
}

// Page styling
// --------------------------------------------------


h1 {
	font-weight: bold;
	letter-spacing: -1px;
	
}

h2 {
	@include adjust-font-size-to(24px);
	@include leader(1);
	font-weight: bold;
	letter-spacing: -1px;

}

h3 {
	font-weight: bold;
	letter-spacing: -1px;

}

img {
	max-width: 100%;
}

// Column Spans
// --------------------------------------------------

@mixin mobile {
	@media screen and (max-width : 520px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}
pre {
	font-size: .875em;
	font-weight: bold;
	@include margin-trailer(.25);
	@include margin-leader(.25);
	@include border-box;
	padding: 10px;
	margin: 20px 0;
	text-align: center;
}

.container {
	@include container(fluid);
	@include trailer(1);
}

[class*="spans"] {
	
	border-top: 1px solid #E2F5E3;
	@include border-box;
}

.row-12 > [class*="spans"] {
	border-left: 1px solid #B5C583;
	border-bottom: 1px solid #B5C583;
}

.row-12 > [class*="spans"]:last-child {
	border-right: 1px solid #B5C583;
}

.row-12 > [class*="spans"] [class*="spans"] {
	border-left: 1px solid #B5C583;
}

.row-12 > [class*="spans"] [class*="spans"]:first-child {
	border-left: 0;
}

.row-12 {
	@include row(12);
	.spans-12-12 {
		@include spans(12,12);
		@include color(20);
	}

	.spans-4-12 {
		@include spans(4,12);
		@include color(20);
	}

	.spans-3-12 {
		@include spans(3,12);
		@include color(40);
	}

	.spans-9-12 {
		@include spans(9,12);
		@include color(40);
		.row-9 {
			@include row(9);
			.spans-5-9 {
				@include spans(5,9);
				@include color(60);
				.row-5 {
					@include row(5);
					.spans-3-5 {
						@include spans(3,5);
						@include color(80);
					}
					.spans-2-5 {
						@include spans(2,5);
						@include color(80);
					}
				}
			}
			.spans-4-9 {
				@include spans(4,9);
				@include color(60);
			}
		}
	}
}

.grid {
	@include container(12);
	pre {@include color(20);}
}

.row {
	@include row(12);
}


@for $i from 1 through 12 {
	.col#{$i} {
		@include spans($i,12);
	}
	.push#{$i} {
		@include push($i,12);
	}
	.pull#{$i} {
		@include pull($i,12);
	}
}

//lazy media query
@include tablet {
	.row-12 {
		.spans-3-12 {
			@include spans(12,12);
		}
		.spans-4-12 {
			@include spans(6,12);
		}
		.spans-9-12 {
			@include spans(12,12);
		
			.row-9 {
				@include row(12);
				.spans-5-9 {
					@include spans(12, 12);
					.row-5 {
						@include row(12);
						.spans-3-5, .spans-2-5 {
							@include spans(6,12);
						}
					}
				}
				.spans-4-9 {
					@include spans(12,12);
				}
			}
		}
	}		
}



