/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 61, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 20, ../sass/partials/_base.scss */
body {
  background-color: #DDECE1;
  font-family: "Courier New", monospace;
  font-size: 0.83333em;
  line-height: 1.8em;
  color: #725F5F; }

/* line 27, ../sass/partials/_base.scss */
h1 {
  font-size: 6.5em;
  line-height: 1.15385em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  color: #725F5F; }

/* line 34, ../sass/partials/_base.scss */
h2 {
  font-size: 2.66667em;
  line-height: 1.125em;
  margin-bottom: 0.75em;
  color: #725F5F;
  text-align: center; }
  /* line 39, ../sass/partials/_base.scss */
  h2 span {
    font-size: 12px; }

/* line 44, ../sass/partials/_base.scss */
p, ul {
  font-size: 1.16667em;
  line-height: 1.28571em;
  margin-bottom: 1.5em; }

/* line 50, ../sass/partials/_base.scss */
p {
  text-align: center;
  font-weight: bold;
  font-size: 0.83333em;
  line-height: 1.8em; }

/* line 56, ../sass/partials/_base.scss */
.nav {
  font-size: 1.33333em;
  line-height: 1.6875em; }

/* line 60, ../sass/partials/_base.scss */
.one {
  margin-top: 1.5em; }

/* line 64, ../sass/partials/_base.scss */
.two {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: dashed;
  border-width: 0.16667em;
  padding: 2.83333em; }

/* line 71, ../sass/partials/_base.scss */
.three {
  font-size: 2.66667em;
  line-height: 1.125em; }

/* line 74, ../sass/partials/_base.scss */
.four {
  margin-bottom: 1.5em;
  border-bottom-style: dashed;
  border-bottom-width: 0.08333em;
  padding-bottom: 1.41667em; }

/* line 95, ../sass/partials/_base.scss */
h1 {
  font-weight: bold;
  letter-spacing: -1px; }

/* line 101, ../sass/partials/_base.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 1.5em;
  font-weight: bold;
  letter-spacing: -1px; }

/* line 109, ../sass/partials/_base.scss */
h3 {
  font-weight: bold;
  letter-spacing: -1px; }

/* line 115, ../sass/partials/_base.scss */
img {
  max-width: 100%; }

/* line 133, ../sass/partials/_base.scss */
pre {
  font-size: .875em;
  font-weight: bold;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 10px;
  margin: 20px 0;
  text-align: center; }

/* line 144, ../sass/partials/_base.scss */
.container {
  max-width: 109em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  margin-bottom: 1.5em; }

/* line 149, ../sass/partials/_base.scss */
[class*="spans"] {
  border-top: 1px solid #E2F5E3;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

/* line 155, ../sass/partials/_base.scss */
.row-12 > [class*="spans"] {
  border-left: 1px solid #B5C583;
  border-bottom: 1px solid #B5C583; }

/* line 160, ../sass/partials/_base.scss */
.row-12 > [class*="spans"]:last-child {
  border-right: 1px solid #B5C583; }

/* line 164, ../sass/partials/_base.scss */
.row-12 > [class*="spans"] [class*="spans"] {
  border-left: 1px solid #B5C583; }

/* line 168, ../sass/partials/_base.scss */
.row-12 > [class*="spans"] [class*="spans"]:first-child {
  border-left: 0; }

/* line 172, ../sass/partials/_base.scss */
.row-12 {
  margin-left: -0.92593%; }
  /* line 25, ../sass/partials/_grid.scss */
  .row-12:before, .row-12:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 26, ../sass/partials/_grid.scss */
  .row-12:after {
    clear: both; }
  /* line 174, ../sass/partials/_base.scss */
  .row-12 .spans-12-12 {
    width: 99.07407%;
    margin-left: 0.92593%;
    float: left;
    background-color: #bbe59c; }
  /* line 179, ../sass/partials/_base.scss */
  .row-12 .spans-4-12 {
    width: 32.40741%;
    margin-left: 0.92593%;
    float: left;
    background-color: #bbe59c; }
  /* line 184, ../sass/partials/_base.scss */
  .row-12 .spans-3-12 {
    width: 24.07407%;
    margin-left: 0.92593%;
    float: left;
    background-color: #93e08c; }
  /* line 189, ../sass/partials/_base.scss */
  .row-12 .spans-9-12 {
    width: 74.07407%;
    margin-left: 0.92593%;
    float: left;
    background-color: #93e08c; }
    /* line 192, ../sass/partials/_base.scss */
    .row-12 .spans-9-12 .row-9 {
      margin-left: -1.23457%; }
      /* line 25, ../sass/partials/_grid.scss */
      .row-12 .spans-9-12 .row-9:before, .row-12 .spans-9-12 .row-9:after {
        display: table;
        content: "";
        line-height: 0; }
      /* line 26, ../sass/partials/_grid.scss */
      .row-12 .spans-9-12 .row-9:after {
        clear: both; }
      /* line 194, ../sass/partials/_base.scss */
      .row-12 .spans-9-12 .row-9 .spans-5-9 {
        width: 54.32099%;
        margin-left: 1.23457%;
        float: left;
        background-color: #7cdc93; }
        /* line 197, ../sass/partials/_base.scss */
        .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 {
          margin-left: -2.22222%; }
          /* line 25, ../sass/partials/_grid.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:before, .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:after {
            display: table;
            content: "";
            line-height: 0; }
          /* line 26, ../sass/partials/_grid.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:after {
            clear: both; }
          /* line 199, ../sass/partials/_base.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 .spans-3-5 {
            width: 57.77778%;
            margin-left: 2.22222%;
            float: left;
            background-color: #6bd8aa; }
          /* line 203, ../sass/partials/_base.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 .spans-2-5 {
            width: 37.77778%;
            margin-left: 2.22222%;
            float: left;
            background-color: #6bd8aa; }
      /* line 209, ../sass/partials/_base.scss */
      .row-12 .spans-9-12 .row-9 .spans-4-9 {
        width: 43.20988%;
        margin-left: 1.23457%;
        float: left;
        background-color: #7cdc93; }

@media screen and (max-width: 768px) {
  /* line 221, ../sass/partials/_base.scss */
  .row-12 .spans-3-12 {
    width: 99.07407%;
    margin-left: 0.92593%;
    float: left; }
  /* line 224, ../sass/partials/_base.scss */
  .row-12 .spans-4-12 {
    width: 49.07407%;
    margin-left: 0.92593%;
    float: left; }
  /* line 227, ../sass/partials/_base.scss */
  .row-12 .spans-9-12 {
    width: 99.07407%;
    margin-left: 0.92593%;
    float: left; }
    /* line 230, ../sass/partials/_base.scss */
    .row-12 .spans-9-12 .row-9 {
      margin-left: -0.92593%; }
      /* line 25, ../sass/partials/_grid.scss */
      .row-12 .spans-9-12 .row-9:before, .row-12 .spans-9-12 .row-9:after {
        display: table;
        content: "";
        line-height: 0; }
      /* line 26, ../sass/partials/_grid.scss */
      .row-12 .spans-9-12 .row-9:after {
        clear: both; }
      /* line 232, ../sass/partials/_base.scss */
      .row-12 .spans-9-12 .row-9 .spans-5-9 {
        width: 99.07407%;
        margin-left: 0.92593%;
        float: left; }
        /* line 234, ../sass/partials/_base.scss */
        .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 {
          margin-left: -0.92593%; }
          /* line 25, ../sass/partials/_grid.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:before, .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:after {
            display: table;
            content: "";
            line-height: 0; }
          /* line 26, ../sass/partials/_grid.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5:after {
            clear: both; }
          /* line 236, ../sass/partials/_base.scss */
          .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 .spans-3-5, .row-12 .spans-9-12 .row-9 .spans-5-9 .row-5 .spans-2-5 {
            width: 49.07407%;
            margin-left: 0.92593%;
            float: left; }
      /* line 241, ../sass/partials/_base.scss */
      .row-12 .spans-9-12 .row-9 .spans-4-9 {
        width: 99.07407%;
        margin-left: 0.92593%;
        float: left; } }
