/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/partials/_grid.scss */
.container {
  max-width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

/* line 42, ../sass/partials/_grid.scss */
.row {
  margin-left: -2.08333%;
}
/* line 21, ../sass/partials/_grid.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../sass/partials/_grid.scss */
.row:after {
  clear: both;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span1 {
  width: 6.25%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span1 .row {
  margin-left: -25%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span1 .row .span1 {
  margin-left: 25%;
  width: 75%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span2 {
  width: 14.58333%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span2 .row {
  margin-left: -12.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span2 .row .span1 {
  margin-left: 12.5%;
  width: 37.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span2 .row {
  margin-left: -12.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span2 .row .span2 {
  margin-left: 12.5%;
  width: 87.5%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span3 {
  width: 22.91667%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span3 .row {
  margin-left: -8.33333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span3 .row .span1 {
  margin-left: 8.33333%;
  width: 25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span3 .row {
  margin-left: -8.33333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span3 .row .span2 {
  margin-left: 8.33333%;
  width: 58.33333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span3 .row {
  margin-left: -8.33333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span3 .row .span3 {
  margin-left: 8.33333%;
  width: 91.66667%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span4 {
  width: 31.25%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span4 .row {
  margin-left: -6.25%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span4 .row .span1 {
  margin-left: 6.25%;
  width: 18.75%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span4 .row {
  margin-left: -6.25%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span4 .row .span2 {
  margin-left: 6.25%;
  width: 43.75%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span4 .row {
  margin-left: -6.25%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span4 .row .span3 {
  margin-left: 6.25%;
  width: 68.75%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span4 .row {
  margin-left: -6.25%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span4 .row .span4 {
  margin-left: 6.25%;
  width: 93.75%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span5 {
  width: 39.58333%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span5 .row {
  margin-left: -5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span5 .row .span1 {
  margin-left: 5%;
  width: 15%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span5 .row {
  margin-left: -5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span5 .row .span2 {
  margin-left: 5%;
  width: 35%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span5 .row {
  margin-left: -5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span5 .row .span3 {
  margin-left: 5%;
  width: 55.0%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span5 .row {
  margin-left: -5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span5 .row .span4 {
  margin-left: 5%;
  width: 75%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span5 .row {
  margin-left: -5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span5 .row .span5 {
  margin-left: 5%;
  width: 95%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span6 {
  width: 47.91667%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span1 {
  margin-left: 4.16667%;
  width: 12.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span2 {
  margin-left: 4.16667%;
  width: 29.16667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span3 {
  margin-left: 4.16667%;
  width: 45.83333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span4 {
  margin-left: 4.16667%;
  width: 62.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span5 {
  margin-left: 4.16667%;
  width: 79.16667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span6 .row {
  margin-left: -4.16667%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span6 .row .span6 {
  margin-left: 4.16667%;
  width: 95.83333%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span7 {
  width: 56.25%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span1 {
  margin-left: 3.57143%;
  width: 10.71429%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span2 {
  margin-left: 3.57143%;
  width: 25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span3 {
  margin-left: 3.57143%;
  width: 39.28571%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span4 {
  margin-left: 3.57143%;
  width: 53.57143%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span5 {
  margin-left: 3.57143%;
  width: 67.85714%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span6 {
  margin-left: 3.57143%;
  width: 82.14286%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span7 .row {
  margin-left: -3.57143%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span7 .row .span7 {
  margin-left: 3.57143%;
  width: 96.42857%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span8 {
  width: 64.58333%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span1 {
  margin-left: 3.125%;
  width: 9.375%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span2 {
  margin-left: 3.125%;
  width: 21.875%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span3 {
  margin-left: 3.125%;
  width: 34.375%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span4 {
  margin-left: 3.125%;
  width: 46.875%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span5 {
  margin-left: 3.125%;
  width: 59.375%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span6 {
  margin-left: 3.125%;
  width: 71.875%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span7 {
  margin-left: 3.125%;
  width: 84.375%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span8 .row {
  margin-left: -3.125%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span8 .row .span8 {
  margin-left: 3.125%;
  width: 96.875%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span9 {
  width: 72.91667%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span1 {
  margin-left: 2.77778%;
  width: 8.33333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span2 {
  margin-left: 2.77778%;
  width: 19.44444%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span3 {
  margin-left: 2.77778%;
  width: 30.55556%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span4 {
  margin-left: 2.77778%;
  width: 41.66667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span5 {
  margin-left: 2.77778%;
  width: 52.77778%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span6 {
  margin-left: 2.77778%;
  width: 63.88889%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span7 {
  margin-left: 2.77778%;
  width: 75%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span8 {
  margin-left: 2.77778%;
  width: 86.11111%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span9 .row {
  margin-left: -2.77778%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span9 .row .span9 {
  margin-left: 2.77778%;
  width: 97.22222%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span10 {
  width: 81.25%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span1 {
  margin-left: 2.5%;
  width: 7.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span2 {
  margin-left: 2.5%;
  width: 17.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span3 {
  margin-left: 2.5%;
  width: 27.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span4 {
  margin-left: 2.5%;
  width: 37.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span5 {
  margin-left: 2.5%;
  width: 47.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span6 {
  margin-left: 2.5%;
  width: 57.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span7 {
  margin-left: 2.5%;
  width: 67.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span8 {
  margin-left: 2.5%;
  width: 77.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span9 {
  margin-left: 2.5%;
  width: 87.5%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span10 .row {
  margin-left: -2.5%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span10 .row .span10 {
  margin-left: 2.5%;
  width: 97.5%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span11 {
  width: 89.58333%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span1 {
  margin-left: 2.27273%;
  width: 6.81818%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span2 {
  margin-left: 2.27273%;
  width: 15.90909%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span3 {
  margin-left: 2.27273%;
  width: 25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span4 {
  margin-left: 2.27273%;
  width: 34.09091%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span5 {
  margin-left: 2.27273%;
  width: 43.18182%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span6 {
  margin-left: 2.27273%;
  width: 52.27273%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span7 {
  margin-left: 2.27273%;
  width: 61.36364%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span8 {
  margin-left: 2.27273%;
  width: 70.45455%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span9 {
  margin-left: 2.27273%;
  width: 79.54545%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span10 {
  margin-left: 2.27273%;
  width: 88.63636%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span11 .row {
  margin-left: -2.27273%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span11 .row .span11 {
  margin-left: 2.27273%;
  width: 97.72727%;
}
/* line 57, ../sass/partials/_grid.scss */
.row .span12 {
  width: 97.91667%;
  margin-left: 2.08333%;
  float: left;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span1 {
  margin-left: 2.08333%;
  width: 6.25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span2 {
  margin-left: 2.08333%;
  width: 14.58333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span3 {
  margin-left: 2.08333%;
  width: 22.91667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span4 {
  margin-left: 2.08333%;
  width: 31.25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span5 {
  margin-left: 2.08333%;
  width: 39.58333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span6 {
  margin-left: 2.08333%;
  width: 47.91667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span7 {
  margin-left: 2.08333%;
  width: 56.25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span8 {
  margin-left: 2.08333%;
  width: 64.58333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span9 {
  margin-left: 2.08333%;
  width: 72.91667%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span10 {
  margin-left: 2.08333%;
  width: 81.25%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span11 {
  margin-left: 2.08333%;
  width: 89.58333%;
}
/* line 74, ../sass/partials/_grid.scss */
.row .span12 .row {
  margin-left: -2.08333%;
}
/* line 79, ../sass/partials/_grid.scss */
.row .span12 .row .span12 {
  margin-left: 2.08333%;
  width: 97.91667%;
}

/* line 4, ../sass/partials/_base.scss */
body {
  background-color: #DDECE1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #725F5F;
}

/* line 10, ../sass/partials/_base.scss */
h1 {
  font-weight: bold;
  font-size: 4em;
  color: #725F5F;
  letter-spacing: -1px;
  margin: 1em 0;
}

/* line 24, ../sass/partials/_base.scss */
[class*="span"] {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 34, ../sass/partials/_base.scss */
[class*="span"] img {
  max-width: 100%;
}

/* line 39, ../sass/partials/_base.scss */
[class*="span"] [class*="span"] {
  padding: 0;
}

/* line 43, ../sass/partials/_base.scss */
.block {
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

/* line 51, ../sass/partials/_base.scss */
[class*="span"] [class*="span"] .block {
  background-color: #C4DFCB;
}
